<%- include('../layouts/header.ejs') %>

  
    <div class="login-register-area pb-100 pt-95">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 offset-lg-2">
            <div class="login-register-wrapper">
              <div class="login-register-tab-list nav">
                <h4> Verify OTP </h4>
              </div>
              <div class="tab-content">
                <div id="lg1" class="tab-pane active">
                  <div class="login-form-container">
                    <div class="login-register-form">
                        <form action="/verify-otp" method="post" id="otpform">
                          <div>
                            <h5 style="color: red; text-align: center;" id="otpmessage"></h5>

                          </div>
                          <input type="text" name="otp" id="otp" placeholder="Enter OTP">
    
                            <div class="button-box btn-hover text-center">
                              <button type="submit" >Submit OTP</button>
                            </div>
                            <br>

                            
                            
                            <!-- <% if (errorMessage) { %>
                              <p class="error-message" >
                                <%= errorMessage %>
                              </p>
                              <% } %> -->
                            </form>
                            <div class=" btn-hover text-center">
                              <button class="btn btn-outline-secondary" href="/resend-otp" type="button" id="resendOTP"><a href="/resend-otp" style="color: white;">Resend OTP</a></button>                              <br>
                              <br>
                              <span id="resendTimer"></span> <!-- Timer display -->
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      //**********************//
        //Submit OTP - fetch
      //**********************//
       const form = document.getElementById('otpform');
            form.addEventListener('submit', async function submitForm(event) {
                event.preventDefault();
    
                const preformData = new FormData(form);
                const formData = new URLSearchParams(preformData);

                try {
                const response = await fetch('/verify-otp', {
                    method: 'POST',
                    body: formData
                });


                if (response.ok) {
                    // Item remove successfully
                    const data = await response.json();
                    window.location.href = "/home";
                    console.log('Verified otp');

                } else {
                    // Handle error
                    document.getElementById('otpmessage').innerText = 'Otp is incorrect';
                    console.error('otp incorrect');
                }
            } catch (error) {
                console.error('Error:', error);
            }
    
            });

    </script>

    <script>
      let canResend = true;
      let resendTimeout;
      document.getElementById('resendOTP').disabled = true;
  
      const updateResendTimer = () => {

          const resendButton = document.getElementById('resendOTP');
          const resendTimer = document.getElementById('resendTimer');
  
          // Get the remaining time
          const remainingTime = Math.max((resendTimeout - Date.now()) / 1000, 0);
  
          if (remainingTime > 0) {
              // Format remaining time as minutes and seconds
              const minutes = Math.floor(remainingTime / 60);
              const seconds = Math.floor(remainingTime % 60);
              resendTimer.textContent = "Resend OTP in " +minutes+ " minutes "  +seconds+ " seconds.";
          } else {
              // Enable the resend button
              resendButton.disabled = false;
              resendTimer.textContent = 'Send New OTP'; // Clear the timer display
          }
      };
  
      // Start the countdown timer
      const startResendTimer = () => {
          resendTimeout = Date.now() + 20000; // 10 seconds
          updateResendTimer();
  
          // Update the timer every second
          setInterval(updateResendTimer, 1000);
      };
  
      startResendTimer();
  
      // Attach a submit event listener to the form
      document.getElementById('otp-form').addEventListener('submit', function (event) {
          // Clear the timeout if the form is submitted
          clearTimeout(resendTimeout);
      });
  </script>

  
<%- include('../layouts/footer.ejs') %>